.hero-section {
    display: flex;
    justify-content: center;
    background-color: #153448;
    height: 90%;
    color: whitesmoke;
    margin: 0 auto;
    gap: 30px;
    width: 100vw;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 10px;
    width: 70%;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

button {
    padding: 0.5rem;
    width: 100px;
    background-color:#153448;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
}

button:hover {
    color: black;
    background-color: yellow;
}



