.container {
    width: 100vw;
    height: 10vh;
    background-color: #153448;
    position: stickyar;
    top: 0;
}

nav {
    display:flex;
    height: 100%;
    width: 92vw;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    margin: 0 auto;
    color: whitesmoke;
}

.nav-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 0.2rem;
}

li {
    width: max-content;
    list-style: none;
}

nav h2 {
    font-size: 1rem;
}

nav .nav-element ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10%;
    font-size: 0.8rem;
    width: 100%;
}

.control {
    margin-right: 20px;
}

.logo {
    font-size: 0.9rem;
}

.nav-icons {
    margin-right: 5%;
    margin-left: 10%;

}